/*全局设置*/
body{
background-color:#e0e0e0;/*背景颜色*/
font-family:-apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Noto Sans,Noto Sans SC,Source Sans Pro,Source Han Sans,Segoe UI,Arial,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;/*字体*/
color:#404040;/*字体颜色*/
line-height:1.5;
}
.none{margin:0;}/*取消边距*/
.left{text-align:left;}.center{text-align:center;}.right{text-align:right;}/*居左居中居右*/
/*链接*/
a{text-decoration:none;transition:color 0.3s ease-in-out;}/*取消下划线*/
a:link{color:#3498db;}/*未访问链接*/
a:visited{color:#3498db;}/*已访问链接*/
a:hover{color:#14558f;}/*鼠标移动到链接上*/
a:active{color:#14558f;}/*鼠标点击时*/
/*导航栏链接*/
a.card>p{color:#404040;margin:10px 15px;transition:color 0.3s ease-in-out;transition:margin 0.3s ease-in-out;}
a.card>p:hover{color:#3498db;margin:10px 15px 10px 20px;}
a.card{box-shadow:none;padding:1px 1px;}/*取消阴影和填充*/
a.card:link{background-color:#f0f0f0;}/*未访问链接*/
a.card:visited{background-color:#f0f0f0;}/*已访问链接*/
a.card:hover{background-color:#d0e0f0;}/*鼠标移动到链接上*/
a.card:active{background-color:#d0e0f0;}/*鼠标点击时*/
/*段落*/
p{margin:1rem 0;}
blockquote>p{margin:0;}
/*图像*/
img{width:100%;}
/*顶栏*/
header{
box-shadow:0 3px 8px #00000040;
position:fixed;
top:0;
left:0;
width:100%;
background:#d0d0d0;
padding:15px;
display:block;
z-index:1000;/*定栏强制置顶*/
}
header>h1{/*顶栏标题*/
margin:0;
color:#ffffff;
font-size:2em;
}
/*卡片*/
.card{
display:block;
background-color:#f0f0f0;
border-radius:10px;
box-shadow:1px 3px 5px 0px #00000040;
box-sizing:border-box;
padding:1.5em;
}
/*代码块*/
code{
font-family:Fira Code,Fira Mono,Menlo,Consolas,DejaVu Sans Mono,monospace;
background-color:#d0d0d0;
border:1px solid #e0e0e0;
border-radius:3px;
}
pre>code{/*代码块中的代码需特殊处理*/
background-color:#ffffff00;
border:none;
border-radius:0px;
}
/*代码*/
pre{
font-family:"Fira Code","Fira Mono",Menlo,Consolas,"DejaVu Sans Mono",monospace;
background-color:#d0d0d0;
border:1px solid #e0e0e0;
border-radius:3px;
overflow:auto;
}
/*引用*/
blockquote{
padding:10px 10px;
margin:5px 0;
border-left:5px solid #d0d0d0;
}
/*标题*/
h1{margin:20px 0 0;font-size:2.5em;}
h2{margin:18px 0 0;font-size:2em;}
h3{margin:16px 0 0;font-size:1.75em;}
h4{margin:14px 0 0;font-size:1.5em;}
h5{margin:12px 0 0;font-size:1.33em;}
h6{margin:10px 0 0;font-size:1.17em;}
h1.center,h2.center,h3.center,h4.center,h5.center,h6.center{margin:0.5em 0;text-align:center;}
/*分隔线*/
hr{border-color:#00000012;}
/*区块*/
#middle{
display:flex;
flex-wrap:wrap;
flex-direction:row;
gap:8px;
margin:auto;
margin-top:86px;
width:min(1080px,100%);
}
#left{flex:2 0 calc((100% - 8px) * 2 / 3);}
#right{flex:1 0 calc((100% - 8px) / 3);}
@media(max-width: 1080px){/*响应式布局*/
#left,#right{flex:1 0 100%;}
}
/*音频*/
audio{width:max(220px,100%);}
/*表格*/
table{
word-break:keep-all;
width:auto;
border-collapse:collapse;
display:block;
border-spacing:0;
overflow:auto;
margin:10px;
}
th,td{
border:1px solid #ddd;
padding:6px 13px;
}
/*Tuack表格*/
.tuack{
border-top:5px solid currentcolor;
border-bottom:5px solid currentcolor;
overflow:auto;
margin:1em auto;
display:table;
text-align:center;
font-weight:400;
}
.tuack thead{border-bottom:3px solid currentcolor;}
.tuack th,.tuack td{border:none;}
.tuack th:not(:last-child),.tuack td:not(:last-child){border-right:1px solid currentcolor;}
.tuack tr:not(:last-child){border-bottom:1px solid currentcolor;}
/*打印样式*/
@media print{
#right,header,footer{display:none;}
*{background:white;box-shadow:none;}
}




