a:link{color:#3498db;text-decoration:none;}
a:visited{color:#3498db;text-decoration:none;}
a:hover{color:#14558f;text-decoration:none;}
a:active{color:#14558f;text-decoration:none;}

body{
background-color:#e0e1e2;font-size:16px;
font-family:-apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Noto Sans,Noto Sans SC,Source Sans Pro,Source Han Sans,Segoe UI,Arial,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
color:#404040;
line-height:1.5;
}

p{margin:1rem 0;}
blockquote>p{margin:0;}

img{width:100%;}

header{
box-shadow:0 20px 30px #10111240;
position:fixed;
top:0;
left:0;
width:100%;
background:#d0d1d2;
color:black;
padding:15px;
display:block;
z-index:1024;
}
header>h1{
margin:0;
color:#ffffff
}

.card{
margin-top:8px;
display:block;
background-color:#f0f1f2;
border-radius:10px;
box-shadow:0 4px 10px 1px #10111240;
box-sizing:border-box;
padding:1.5em;
}

code{
font-family:Fira Code,Fira Mono,Menlo,Consolas,DejaVu Sans Mono,monospace;
background-color:#d0d1d240;
border:1px solid #e0e1e2;
border-radius:3px;
}
pre>code{
background-color:#ffffff00;
border:none;
border-radius:0px;
}

pre{
font-family:"Fira Code","Fira Mono",Menlo,Consolas,"DejaVu Sans Mono",monospace;
background-color:#d0d1d240;
border:1px solid #e0e1e2;
border-radius:3px;
overflow:auto;
}

blockquote{
padding:10px 10px;
margin:5px 0;
border-left:5px solid #e0e1e2;
}

h1.center{margin:0.5em 0;text-align:center;}
h2.center{margin:0.5em 0;text-align:center;}
h3.center{margin:0.5em 0;text-align:center;}
h4.center{margin:0.5em 0;text-align:center;}
h5.center{margin:0.5em 0;text-align:center;}
h6.center{margin:0.5em 0;text-align:center;}

.none{margin:0;}

h1{margin:20px 0 0;}
h2{margin:18px 0 0;}
h3{margin:16px 0 0;}
h4{margin:14px 0 0;}
h5{margin:12px 0 0;}
h6{margin:10px 0 0;}

hr{border-color:#00000012}

#left{float:left;}
#right{float:right;}
#middle{margin:auto;width:min(1080px,100%);margin-top:78px;}

table{
word-break:keep-all;
width:auto;
border-collapse:collapse;
display:block;
border-spacing:0;
overflow:auto;
margin:10px;
}
th,td{
  border:1px solid #ddd;
  padding:6px 13px;
}

.tuack{
  border-top:5px solid currentcolor;
  border-bottom:5px solid currentcolor;
  overflow:auto;
  margin:1em auto;
  display:table;
  text-align:center;
  font-weight:400;
}
.tuack thead{border-bottom:3px solid currentcolor;}
.tuack th,.tuack td{border:none;}
.tuack th:not(:last-child){border-right:1px solid currentcolor;}
.tuack td:not(:last-child){border-right:1px solid currentcolor;}
.tuack tr:not(:last-child){border-bottom:1px solid currentcolor;}