/*全局设置*/
body{
background-color:#e0e1e2;
font-family:-apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Noto Sans,Noto Sans SC,Source Sans Pro,Source Han Sans,Segoe UI,Arial,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
color:#404040;
line-height:1.5;
}
.none{margin:0;}
.center{text-align:center;}
/*链接*/
a:link{color:#3498db;text-decoration:none;}/*未访问链接*/
a:visited{color:#3498db;text-decoration:none;}/*已访问链接*/
a:hover{color:#14558f;text-decoration:none;}/*鼠标移动到链接上*/
a:active{color:#14558f;text-decoration:none;}/*鼠标点击时*/
/*段落*/
p{margin:1rem 0;}
blockquote>p{margin:0;}
/*图像*/
img{width:100%;}
/*顶栏*/
header{
box-shadow:0 20px 30px #10111240;
position:fixed;
top:0;
left:0;
width:100%;
background:#d0d1d2;
color:black;
padding:15px;
display:block;
z-index:1024;/*定栏强制置顶*/
}
header>h1{/*顶栏标题*/
margin:0;
color:#ffffff;
font-size:2em;
}
/*卡片*/
.card{
display:block;
background-color:#f0f1f2;
border-radius:10px;
box-shadow:0 4px 10px 1px #10111240;
box-sizing:border-box;
padding:1.5em;
}
/*代码块*/
code{
font-family:Fira Code,Fira Mono,Menlo,Consolas,DejaVu Sans Mono,monospace;
background-color:#d0d1d240;
border:1px solid #e0e1e2;
border-radius:3px;
}
pre>code{/*代码块中的代码需特殊处理*/
background-color:#ffffff00;
border:none;
border-radius:0px;
}
/*代码*/
pre{
font-family:"Fira Code","Fira Mono",Menlo,Consolas,"DejaVu Sans Mono",monospace;
background-color:#d0d1d240;
border:1px solid #e0e1e2;
border-radius:3px;
overflow:auto;
}
/*引用*/
blockquote{
padding:10px 10px;
margin:5px 0;
border-left:5px solid #e0e1e2;
}
/*标题*/
h1{margin:20px 0 0;font-size:2.5em;}
h2{margin:18px 0 0;font-size:2em;}
h3{margin:16px 0 0;font-size:1.75em;}
h4{margin:14px 0 0;font-size:1.5em;}
h5{margin:12px 0 0;font-size:1.33em;}
h6{margin:10px 0 0;font-size:1.17em;}
h1.center,h2.center,h3.center,h4.center,h5.center,h6.center{margin:0.5em 0;text-align:center;}
/*分隔线*/
hr{border-color:#00000012;}
/*区块*/
#middle{
display:flex;
flex-wrap:wrap;
gap:8px;
margin:auto;
width:min(1080px,100%);
margin-top:86px;
}
#left{flex: 2 0 auto;}
#right{flex: 1 0 auto;}
/*表格*/
table{
word-break:keep-all;
width:auto;
border-collapse:collapse;
display:block;
border-spacing:0;
overflow:auto;
margin:10px;
}
th,td{
border:1px solid #ddd;
padding:6px 13px;
}
/*Tuack表格*/
.tuack{
border-top:5px solid currentcolor;
border-bottom:5px solid currentcolor;
overflow:auto;
margin:1em auto;
display:table;
text-align:center;
font-weight:400;
}
.tuack thead{border-bottom:3px solid currentcolor;}
.tuack th,.tuack td{border:none;}
.tuack th:not(:last-child){border-right:1px solid currentcolor;}
.tuack td:not(:last-child){border-right:1px solid currentcolor;}
.tuack tr:not(:last-child){border-bottom:1px solid currentcolor;}
